$primary: #498196;
$secondary: #574b60;
$info: #c0c5c1;
$dark: #171d1c;
$light: #efe9f4;
$font-title: "Girassol", cursive;
$info-font: "Pathway Gothic One", sans-serif;

@mixin flex-row($jr: space-around, $ar: center) {
	display: flex;
	justify-content: $jr;
	align-items: $ar;
}

@mixin flex-column($jc: space-around, $ac: center, $qc: column) {
	display: flex;
	justify-content: $jc;
	align-items: $ac;
	flex-direction: $qc;
}

@mixin button-icon($c: $dark, $s: 30px) {
	color: $c;
	font-size: $s;
}

@mixin shadow($b: 1px 1px 1px $dark) {
	box-shadow: $b;
}
