@import "../../sass/vars";

.post-create-body {
	width: 100%;
	height: 81vh;
	background-color: $light;
	@include flex-column;
	position: relative;
}

.create-container {
	width: 90%;
	height: 80%;
	background-color: $light;
	border-radius: 5%;
	@include shadow;
	position: absolute;
	top: 5%;
	@include flex-column;
}

.title-text {
	font-family: $info-font;
	font-weight: 500;
	font-size: 1.4rem;
	color: $dark;
}

.post-text {
	position: absolute;
	top: 5%;
	font-family: $info-font;
	font-size: 1rem;
}
.drop-text {
	color: $dark;
}
.dropzone {
	position: absolute;
	bottom: 7%;
	left: 10%;
	display: flex;
	justify-content: center;
}

.submit {
	position: absolute;
	right: 5%;
	bottom: 7%;
	color: $secondary;
	font-weight: 600;
	font-family: $info-font;
	font-size: 1.6rem;
}

.drop-container {
	@include flex-column;
	margin-left: 40px;
}

.label-group {
	font-family: $info-font;
	font-size: 0.9rem;
}
