@import "../../sass/vars";

.body {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}
.border-line {
	width: 100%;
	height: 3px;
	background-color: $dark;
}
.create-group-container {
	width: 100%;
	height: 300px;
	background-color: $primary;
	@include flex-row;
	position: relative;
}

.title-container {
	position: absolute;
	top: 10px;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	font-family: $info-font;
}

.drop {
	width: 80%;
	height: 50%;
	font-family: $info-font;
	color: $light;
	font-size: 1rem;
}
.group-name-input {
	margin-right: 5%;
	margin-bottom: 8%;
}

.create-group-button {
	width: 100x;
	height: 20px;
	background-color: $dark;
	color: $light;
	border-radius: 50px;
}

.group-button {
	width: 100%;
	color: $light;
}

.groups-body {
	@include flex-column;
	width: 100%;
	height: 100%;
	background-color: $light;
	padding-bottom: 2%;
}

.join-title {
	font-family: $info-font;
	color: $dark;
	font-weight: 600;
	font-size: 2rem;
	text-decoration: underline;
}
.group-container {
	@include flex-column;
	width: 200px;
	height: 200px;
	background-color: $light;
	border-radius: 20%;
	@include shadow;
	margin-top: 5%;
}

.group-name-container {
	display: flex;
	justify-items: center;
}

.group-name {
	color: $dark;
	font-family: $info-font;
	font-size: 1.8rem;
	font-weight: 500;
	// 	display: flex;
	// 	justify-items: center;
}

.group-photo {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.fa-plus-square {
	@include button-icon;
	display: flex;
	align-items: center;
}

.bumper {
	width: 100px;
	height: 60px;
}
